# Veri Seti Hikayesi

* total_bill : yemeğin toplam fiyatı(bağşış ve vergi dahil)
* tip : bahşiş
* sex : ücreti ödeyen kişinin cinsiyeti(0=male 1=female)
* smoker : grupta sigara içen var mı(1=yes 0=no)
* day : gün (3=thur 4=fri 5=sat 6=sun)
* time : ne zaman (0=day 1=night)
* size : grupta kaç kişi var

In [1]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [5]:
df["sex"].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [6]:
df["smoker"].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [7]:
df["day"].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [8]:
df["time"].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64